name: Publish
on:
  push:
    branches:
      - main
jobs:
  npm-publish:
    name: npm-publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - id: check
        uses: EndBug/version-check@v2.1.0
        with:
          diff-search: true
      - name: Set up Node
        if: steps.check.outputs.changed == 'true'
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install
        if: steps.check.outputs.changed == 'true'
        run: npm ci
      - name: Setup publish token
        if: steps.check.outputs.changed == 'true'
        run: echo "//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}" > .npmrc
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
      - name: Publish
        if: steps.check.outputs.changed == 'true'
        run: npm run release
      - name: Generate Release
        if: steps.check.outputs.changed == 'true'
        run: |
          git config user.email "hi@inkasadev"
          git config user.name "inks2d Bot"
          node scripts/create_release.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
